html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3b3b3b;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 35vw;
  background-image: url("sidebar-img.jpg");
  background-size: cover;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: whitesmoke;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: auto;
  align-items: center;
  justify-content: left;
  padding-left: 3vw;
}

.header {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}

.form-container {
  background-color: #f9fafb;
  box-shadow: 3px 3px 5px lightgray;
}

label {
  text-transform: capitalize;
  font-weight: bold;
  font-size: small;
}

input {
  margin-top: 6px;
  padding: 2.5px;
  width: 80%;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: lightgray;
  background-color: #f9fafb;
}

input:focus {
  box-shadow: 2px 2px 5px lightgray;
}

input,
label {
  display: block;
  margin-right: 80px;
}

fieldset {
  border: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
