html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30vw;
  background-image: url("sidebar-img.jpg");
  background-size: cover;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: #f9fafb;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: auto;
  align-items: center;
  justify-content: left;
  padding-left: 3vw;
  border: 1px solid black;
}

.header {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
}
