html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30vw;
  background-image: url("sidebar-img.jpg");
  background-size: cover;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: whitesmoke;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: auto;
  align-items: center;
  justify-content: left;
  padding-left: 3vw;
}

.header {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
}

.form-container {
  background-color: #f9fafb;
  box-shadow: 3px 3px 5px lightgray;
}

label {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: x-small;
  color: dimgray;
}

input {
  border-width: thin;
  margin-top: 6px;
  width: 80%;
}

input:focus {
  border-radius: 5px;
}

input,
label {
  display: block;
  margin-right: 80px;
}

fieldset {
  border: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
